:root {
  --v-unit-025: calc(((var(--v-base-grid) * 0.25) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-05: calc(((var(--v-base-grid) * 0.5) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-1: calc(((var(--v-base-grid) * 1) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-2: calc(((var(--v-base-grid) * 2) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-3: calc(((var(--v-base-grid) * 3) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-4: calc(((var(--v-base-grid) * 4) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-5: calc(((var(--v-base-grid) * 5) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-6: calc(((var(--v-base-grid) * 6) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-7: calc(((var(--v-base-grid) * 7) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-8: calc(((var(--v-base-grid) * 8) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-9: calc(((var(--v-base-grid) * 9) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-10: calc(((var(--v-base-grid) * 10) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-11: calc(((var(--v-base-grid) * 11) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-12: calc(((var(--v-base-grid) * 12) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-13: calc(((var(--v-base-grid) * 13) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-14: calc(((var(--v-base-grid) * 14) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-15: calc(((var(--v-base-grid) * 15) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-16: calc(((var(--v-base-grid) * 16) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-17: calc(((var(--v-base-grid) * 17) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-18: calc(((var(--v-base-grid) * 18) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-19: calc(((var(--v-base-grid) * 19) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-20: calc(((var(--v-base-grid) * 20) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-21: calc(((var(--v-base-grid) * 21) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-22: calc(((var(--v-base-grid) * 22) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-23: calc(((var(--v-base-grid) * 23) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-24: calc(((var(--v-base-grid) * 24) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-25: calc(((var(--v-base-grid) * 25) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-26: calc(((var(--v-base-grid) * 26) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-27: calc(((var(--v-base-grid) * 27) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-28: calc(((var(--v-base-grid) * 28) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-29: calc(((var(--v-base-grid) * 29) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-30: calc(((var(--v-base-grid) * 30) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-31: calc(((var(--v-base-grid) * 31) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-32: calc(((var(--v-base-grid) * 32) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-33: calc(((var(--v-base-grid) * 33) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-34: calc(((var(--v-base-grid) * 34) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-35: calc(((var(--v-base-grid) * 35) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-36: calc(((var(--v-base-grid) * 36) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-37: calc(((var(--v-base-grid) * 37) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-38: calc(((var(--v-base-grid) * 38) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-39: calc(((var(--v-base-grid) * 39) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-40: calc(((var(--v-base-grid) * 40) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-41: calc(((var(--v-base-grid) * 41) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-42: calc(((var(--v-base-grid) * 42) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-43: calc(((var(--v-base-grid) * 43) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-44: calc(((var(--v-base-grid) * 44) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-45: calc(((var(--v-base-grid) * 45) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-46: calc(((var(--v-base-grid) * 46) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-47: calc(((var(--v-base-grid) * 47) / var(--v-base-size)) * var(--v-base-unit));
  --v-unit-48: calc(((var(--v-base-grid) * 48) / var(--v-base-size)) * var(--v-base-unit));
}
