body {
  background-color: var(--v-color-surface);
  color: var(--v-color-on-surface);
  font-family: var(--v-font-family);
  font-size: var(--v-font-size);
  font-weight: var(--v-font-weight);
  line-height: var(--v-line-height);
  container-type: inline-size;
}
